.headerWrapper {
    width: 100vw;
    height: 90px;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    background: #0a174483 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 29px #5538EE1F;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
}

.headerWrapper .linksWrapper {
    width: 310px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerWrapper .linksWrapper .about, .headerWrapper .linksWrapper .login {
    padding: 8px 25px;
    border-radius: 50px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    display: flex;
    font-size: 1.1rem;
    letter-spacing: 2.55px;
}

.headerWrapper .linksWrapper .about img, .headerWrapper .linksWrapper .login img {
    margin-right: 10px;
}

.headerWrapper .linksWrapper .about {
    background-color: #72EFDB;
    color: #0B1741;
}

.headerWrapper .linksWrapper .login {
    background-color: #1E3E7B;
    color: white;
}
