.containerLogin {
    max-width: 1920px;
    margin: auto;
    position: fixed;
    height: 100%;
    width: 100%;
    background-image: url(/src/assets/img/mobile-hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.login {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 100px 50px;
    border-radius: 14px;
    background-color: #18326B;
    opacity: 0.7;
    min-width: 400px;
}

.titleLogin {
    text-align: center;
    color: #72EFDB;
    padding-bottom: 20px;
    font-size: 2rem;
    font-weight: bolder;
}

.buttonLogin {
    background-color: #72EFDB;
    font-weight: bolder;
    color: #0B1741;
    margin-top: 20px;
    border-radius: 34px;
    outline: none;
    padding: 10px;
    font-size: 1rem;
    border-color: unset;
    border-style: unset;
}

.inputLogin {
    border: none;
    border-bottom: 1px solid #ffffff;
    outline: none;
    background: none;
    padding: 10px;
    margin: 10px 0;
    font-size: 1rem;
    color: #ffffff;
}

::-webkit-input-placeholder {
    color: #ffffff;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #ffffff;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #ffffff;
}

:-ms-input-placeholder {
    color: #ffffff;
}

@media only screen and (min-width: 514px) {
    .containerLogin {
        background-image: url(/src/assets/img/hero-bg.jpg);
    }
}
